:root {
  /** 
    Global variables for styling.
  */
  --default-background-color: rgb(10, 10, 10);

  --default-color: rgb(225, 225, 225);

  --default-padding: 5px;
  --default-margin: 5px;
  
  --default-border: 2px solid rgb(225, 225, 225);
  --default-border-radius: 2px;

  --swatch-black-10: rgb(10, 10, 10);
  --swatch-black-20: rgb(20, 20, 20);
  --swatch-black-30: rgb(30, 30, 30);
  --swatch-black-40: rgb(40, 40, 40);
  --swatch-black-50: rgb(50, 50, 50);
  --swatch-black-60: rgb(60, 60, 60);
  --swatch-black-70: rgb(70, 70, 70);
  --swatch-black-80: rgb(80, 80, 80);
  --swatch-black-90: rgb(90, 90, 90);

  --highlighted-border: 2px solid rgb(43, 144, 255);
  --highlighted-color: rgb(43, 144, 255);
  
  /** 
    Default attributes for elements to inherit from.
  */
  color: var(--default-color);
  background-color: var(--default-background-color);
  
  font-family: ProximaNova-Regular, sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}
  
  
/** Inherit these containers classes to use a flex direction. */
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}
  


/** Adds styling to the 'base' container. */
.content-container {
  height: 100%;
}

.panel-container {
  margin: var(--default-margin);
  padding: var(--default-padding);

  .recent-odds-container {
    width: 250px;
    height: 100%;

    background-color: var(--swatch-black-20);
    border: var(--default-border);
    border-radius: var(--default-border-radius);

    padding: var(--default-padding);
    margin: var(--default-margin);

    overflow: auto;
  }

  .markets-container {
    width: 100%;
    height: 100%;

    margin: var(--default-margin);

    .market-description {
      color: #ffffff;
      background-color: var(--swatch-black-50);
      border-radius: var(--default-border-radius);
      opacity: .9;
    }
  }
  
}

.market-container {
  width: 100%;
  height: 100%;
}

.play-container {
  width: 100%;
  height: 100%;

  .play-description {
    display: flex;
    width: 100px;
    height: 100px;

    margin: 10px;

    text-align: center;
    justify-content: center;
    align-items: center;

    border: var(--default-border);
    border-radius: var(--default-border-radius);

    background-color: var(--swatch-black-20);
  }

  .odds-item-container {
      width: 100px;
      height: 100px;

      color: var(--highlighted-color);
      background-color: var(--swatch-black-20);	

      margin: 10px;

      border: var(--highlighted-border);
      border-radius: var(--default-border-radius);
  }

  .odds-item-container:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

a {
  color: hotpink;
}

a:visited {
  color: hotpink;
}

draggable {
  padding: 1rem;
  background-color: white;
  cursor: move;
}